:root {
  --primary: #518ff5;
  --secondary: #424242;
  --accent: #82b1ff;
  --error: #ff5252;
  --info: #2196f3;
  --success: #4caf50;
  --warning: #ffc107;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans;
}
@font-face {
  font-family: "sans";
  src: url(./assets/fonts/GoogleSans-Regular.ttf);
}
